
<h1>Add Record Label</h1>
<form class="" method="post" {{action "addRecordLabel" on="submit"}}>
  {{input type="text" value=model.name placeholder= "Insert Record Label"}}
  {{input type="submit" value="Create"}}
</form>
{{outlet}}
