<h1>Record Labels</h1>
<h2>{{#link-to 'recordlabel.create'}} Create Record Label {{/link-to}}</h2>
<ul>
{{#each model as |recordlabel|}}
  <li>
  	{{#link-to 'recordlabel.update' recordlabel.id }}{{recordlabel.name}}{{/link-to}}
  </li>
{{/each}}
</ul>
{{outlet}}
