{{outlet}}
<h1>Welcome to my ember coding challenge, please select option</h1>

{{#link-to 'recordlabel.create'}}Create Record Label{{/link-to}}
{{#link-to 'artist.create'}}Create Artist{{/link-to}}
{{#link-to 'album.create'}}Create Album{{/link-to}}
{{#link-to 'song.create'}}Create Song{{/link-to}}